* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

@import 'colors';
@import 'layout';
@import 'button';
@import 'overlay';
@import 'modal';
@import 'field';
@import 'jersey';

.main-page {
    background: linear-gradient(to bottom right, $bluebright, $bluedark);
}
