* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2; }

.layout__top-right, .layout__top-left, .layout__bottom {
  position: absolute;
  margin: 1em; }

.layout__center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.layout__full-width {
  min-height: 100vw; }

.layout__full-height {
  min-height: 100vh; }

.layout__top-right {
  top: 0;
  right: 0; }

.layout__top-left {
  top: 0;
  left: 0; }

.layout__bottom {
  bottom: 0; }

.btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1em;
  color: #fff; }
  .btn--flat {
    background-color: #0892a0;
    margin-bottom: 1px; }
    .btn--flat:active, .btn--flat.active {
      background-color: #06666f; }
  .btn--underline {
    background-color: #2c1656;
    border-bottom: 4px solid #562ba7;
    margin-bottom: 2px; }
    .btn--underline:active, .btn--underline.active {
      background-color: #41207f; }
  .btn--list {
    display: block;
    width: 100%; }
  .btn--faden:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.15); }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.modal {
  max-width: 500px;
  margin: 1em;
  margin: auto;
  margin-top: 56px; }
  .modal__title {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em; }

.field {
  position: relative;
  height: 612px;
  width: 422px;
  background: url("../assets/img/field.jpg") no-repeat center;
  background-size: contain;
  margin: 5em 0; }
  .field__reset {
    width: 100%;
    position: absolute;
    bottom: -4em;
    text-align: center; }

.field-row {
  position: relative;
  clear: both;
  text-align: center; }

.jersey-wrapper {
  display: inline-block;
  padding: 10px;
  cursor: pointer; }

.jersey-label {
  display: block;
  min-height: 1.4em;
  max-width: 84px;
  background-color: #0892a0;
  color: #fff;
  padding: 0.2em;
  overflow: hidden;
  text-overflow: ellipsis; }

.main-page {
  background: linear-gradient(to bottom right, #0892a0, #2c1656); }
